{% extends "layout.html" %}

{% block body %}
<p>Remember the web of 1996 when images were no more than 400 pixels wide and they
took forever to load? Did it make you feel good? I know you want to feel like that again!</p>
<p>Inspired by <a href="https://samwierema.nl/sam.html">magic created</a> by <a href="http://samwierema.nl/">Sam Wierema</a> here you can upload a picture and it will
show like a picture did in 1996. Have fun!</p>

<form action="/upload" method="POST" class="form" style="margin: 0 auto;" enctype="multipart/form-data">
  <fieldset class="form-group">
    <label for="picture">PICTURE:</label>
    <input id="picture" type="file" name="picture" class="form-control">
  </fieldset>
  <div class="form-actions">
    <input type="submit" class="btn btn-primary btn-block" value="Sammify!">
  </div>
</form>

<p style="margin-top: 5em;">P.S.: The <a href="https://github.com/StupidHackathonAMS/sammify">source code is on GitHub</a>.</p>
{% endblock %}
