{% extends "layout.html" %}

{% block body %}
<p>Heb je een bestand of een link en weet je niet zeker of het open data is? Vul het formulier in, en wij vertellen je hoe het zit!</p>

<form action="/upload" method="POST" class="form" style="margin: 0 auto;" enctype="multipart/form-data">
  <fieldset class="form-group">
    <label for="link">Link:</label>
    <input id="link" type="text" name="link" class="form-control">
  </fieldset>
  <p><a href="#demo" data-toggle="collapse" class="btn btn-primary btn-block">&gt;&gt; ik wil een bestand uploaden &lt;&lt;</a></p>
  <fieldset id="demo" class="form-group collapse">
    <label for="picture">Bestand:</label>
    <input id="picture" type="file" name="picture" class="form-control">
  </fieldset>
  <div class="form-actions">
    <input type="submit" class="btn btn-primary btn-block" value="Check het!">
  </div>
</form>
{% endblock %}
